body {
  font: 14px/1.5em sans-serif;
  background: #f2f2f2;
  color: #333;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer {
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  padding: 1em;
}

#footer img {
  vertical-align: middle;
}